In [1]:
import TableParser
import pandas as pd
import tempfile, zipfile
import os
import numpy as np
import datetime
from collections import Counter
import time

In [14]:
class TestTableParser(TableParser.TableParserItem):
    def __init__(self):
        pass
    
    def parse(self, series: pd.Series):
        mistake = {
            "00:00:00":'','0:00':'',
            'Jan':'01','Feb': '02','Mar':'03','Apr':'04','May':'05','Jun':'06','Jul':'07','Aug':'08','Sept':'09','Oct':'10','Nov':'11','Dec':'12',
            'o': '0','l': '1','b': '6','g': '9','q': '9','t': '7','v': '5','G': '6','F': '7','Z': '2','Q': '2','B': '8','O': '0','D': '0','E': '3','A': '4','S': '5',
            r'[ -/]|[:-@]|[\[-_]|[{-~]': '-',
        }
        for key, val in mistake.items():
            series = series.str.strip().str.replace(key, val, regex=True)
        return (pd.to_datetime(series, errors="coerce"), [])

    def fix_xlsx(self, in_file):
        tmpfd, tmp = tempfile.mkstemp(dir=os.path.dirname(in_file))
        os.close(tmpfd)
        filename = '[Content_Types].xml'
        data = ''
        with zipfile.ZipFile(in_file, 'r') as zin:
            with zipfile.ZipFile(tmp, 'w') as zout:
                for item in zin.infolist():
                    if item.filename != filename:
                        zout.writestr(item, zin.read(item.filename))
                    else:
                        data = zin.read(filename).decode()
        os.remove(in_file)
        os.rename(tmp, in_file)
        data = data.replace('/xl/sharedStrings.xml', '/xl/SharedStrings.xml')
        with zipfile.ZipFile(in_file, mode='a', compression=zipfile.ZIP_DEFLATED) as zf:
            zf.writestr(filename, data)
            
    def orientation_determine(self,df):
        list_columns = []
        for j in range(df.shape[1]):
            list_columns.append(pd.to_numeric(df.iloc[:,j],errors='coerce').dropna())
        clear_df = pd.concat(list_columns,axis=1)
        if clear_df.shape[0] > clear_df.shape[1]:
            return True
        else: return False
        
    def find_start_point(self,clear_df):
        start_point = 0
        for i in range(clear_df.shape[0]):
            if len(clear_df.iloc[i,:].dropna()) > 2:
                start_point = i
                break
        return start_point
    
    def define_type_of_cell(self,clear_df,df_data,start_point):
        columns_types = {}
        for j in range(clear_df.shape[1]):
            baff = clear_df.iloc[:,j].dropna()
            if baff.sum() != 0:
                if baff.dtype == pd.Float64Dtype():
                    columns_types[j] = 'float'
                else: columns_types[j] = 'int'
            else:
                if type(testTableParser.parse(df_data.iloc[:,j].astype(str))[0][start_point]) == type(pd.to_datetime('31.01.2002')):
                    columns_types[j] = 'date'
                elif baff.dtype == pd.BooleanDtype():
                    columns_types[j] = 'bool'
                else: columns_types[j] = 'str'
        return columns_types
    
    def define_breakline(self,clear_df,columns_types):
        null_list,index_list= [],[]
        for j in range(clear_df.shape[1]):
            if columns_types[j] == 'int':
                null_list.append(clear_df.iloc[:,j])
        int_df = pd.concat(null_list,axis=1)
        count = Counter(columns_types.values())
        for i in range(int_df.shape[0]):
            if int_df.iloc[i,:].isnull().sum() == count.get('int'):
                index_list.append(i)

        return index_list

    def create_list_of_table(self,df,break_line,start_point):
        return [df.iloc[:break_line[0]+start_point,:],df.iloc[break_line[0]+start_point:,:]]
            

    def create_header(self,df,start_point,df_data):
        topic = df.iloc[:start_point,:].fillna(method='ffill',axis=1)
        list_topic = []
        for i in range(topic.shape[1]):
            list_topic.append("__".join(list(topic.iloc[:,i].astype(str))).replace("__nan","").replace("nan__",""))
        df_data.columns = list_topic
        return df_data   

    def to_numeric_func(self,df):
        list_columns = []
        for j in range(df.shape[1]):
            list_columns.append(pd.to_numeric(df.iloc[:,j],errors='coerce').convert_dtypes())
        clear_df = pd.concat(list_columns,axis=1)
#         start = time.time()
#         end = time.time()
#         print(end - start)
        return clear_df

    def json_creator(self,df,mistake,orientation,columns_types,break_line,index): 
        if len(break_line) == 0:
            return {"IsVerticalOrientation,":orientation,
               "Index rows":[df.index.tolist()],
               "columns types": columns_types,
                "mistake fix": mistake
                }
        else:
            return {"IsVerticalOrientation,":orientation,
               "Index rows":index,
               "columns types": columns_types,
                "mistake fix": mistake
                }
    
    def find_errorss(self,s,j):
        mistake = {'o': '0','l': '1','b': '6','g': '9','q': '9','t': '7','v': '5','f': '7','z': '2','e': '3','s': '5'}
        finded_error = []
        for key, val in mistake.items():
            if len(s[s.astype(str).str.contains(key).dropna()].index.to_list()) != 0:
                for i in range(len(s[s.astype(str).str.contains(key)].index.to_list())):
                    finded_error.append({   'row':s[s.astype(str).str.contains(key)].index.to_list()[i],
                                            'column':j,
                                            'new value':val,
                                            'old value':key,
                                            'probability':99.9,
                                            'user approve':False,
                                            'comment':False
                                        })
    #             finded_error.append([key,val,j,s[s.astype(str).str.contains(key)].index.to_list()])
        s = s.astype(str).str.strip().str.replace(key, val, regex=True)
        return [s,finded_error]

    def change_valuee(self,df,columns_types):
        # list_right_data = []
    #     df = pd.read_excel("file44.xlsx",header=None)
        mistake_index_list = []
        for j in range(df.shape[1]):
            if columns_types[j] == 'int' or columns_types[j] == 'float':
                buff = self.find_errorss(df.iloc[:,j],j)
                df.iloc[:,j] = pd.to_numeric(buff[0],errors='coerce').convert_dtypes().copy()
        #     list_right_data.append(pd.to_numeric(buff[0],errors='coerce').convert_dtypes())
                mistake_index_list.append(buff[1])
        return [df,np.concatenate(np.array(mistake_index_list), axis=None).tolist()]
    
    def all_action(self,df): # <-----    drive method
        orientation = self.orientation_determine(df)

        print(orientation)
        if orientation== False:
            df = df.T
            
        clear_df = self.to_numeric_func(df)
        start_point = self.find_start_point(clear_df)
        columns_types = self.define_type_of_cell(clear_df.iloc[start_point:,:],df.iloc[start_point:,:],start_point)
        break_line = self.define_breakline(clear_df.iloc[start_point:,:],columns_types)
        if  len(break_line) == 0:
            df_data_and_mistake = self.change_valuee(df.iloc[start_point:,:],columns_types)
            done_df = self.create_header(df,start_point,df_data_and_mistake[0])
#             print(df_data_and_mistake[1])
            json = self.json_creator(df,df_data_and_mistake[1],orientation,columns_types,break_line,[])
#             print(json)
            return [done_df,json]

        else:
            list_df = self.create_list_of_table(df,break_line,start_point)
            answer_df = []
            mistake = []
            index_list = []
            for i in range(len(list_df)):
                clear_df = self.to_numeric_func(list_df[i])
                start_point = self.find_start_point(clear_df)
                df_data_and_mistake = self.change_valuee(list_df[i].iloc[start_point:,:],columns_types)
                done_df = self.create_header(list_df[i],start_point,df_data_and_mistake[0])
                answer_df.append(done_df)
                mistake.append(df_data_and_mistake[1])
                index_list.append(list_df[i].index.tolist())
#             print(mistake)
            json = self.json_creator(df,mistake,orientation,columns_types,break_line,index_list)
#             print(json)
            return [answer_df,json]

In [15]:
# df = pd.read_csv("file44.csv",encoding='unicode_escape',header=None)
testTableParser = TestTableParser()
# df = pd.read_excel(open('file44.xlsx', 'rb'),header=None,sheet_name='Worksheet')
# df = pd.read_excel("file22.xlsx",header=None)
# print(df.shape)
# print(df.iloc[1,:])
# df = testTableParser.all_action(df)
# df[0]

xlsx = pd.ExcelFile('file44.xlsx')
names = xlsx.sheet_names
sheet_to_df_map = {}
for i  in range(len(names)):
    sheet_to_df_map[names[i]] = testTableParser.all_action(pd.read_excel(open('file44.xlsx', 'rb'),header=None,sheet_name=names[i]))

True
1       10107
2       10121
3       10134
4       10145
5       10159
        ...
2819    10350
2820    10373
2821    10386
2822    10397
2823    10414
Name: 0, Length: 2823, dtype: object
1       30
2       34
3       41
4       45
5       49
        ..
2819    20
2820    29
2821    43
2822    34
2823    47
Name: 1, Length: 2823, dtype: object
1        95.7
2       81.35
3       94.74
4       83.26
5         100
        ...
2819      100
2820      100
2821      100
2822    62.24
2823    65.52
Name: 2, Length: 2823, dtype: object
1        2
2        5
3        2
4        6
5       14
        ..
2819    15
2820     1
2821     4
2822     1
2823     9
Name: 3, Length: 2823, dtype: object
1          2871
2        2765.9
3       3884.34
4        3746.7
5       5205.27
         ...
2819     2244.4
2820    3978.51
2821    5417.57
2822    2116.16
2823    3079.44
Name: 4, Length: 2823, dtype: object
1       1
2       2
3       3
4       3
5       4
       ..
2819    4
2820    1
2821    1
2822    1
2823    2
Name: 7, Length: 2823, dtype: object
1        2
2        5
3        7
4        8
5       10
        ..
2819    12
2820     1
2821     3
2822     3
2823     5
Name: 8, Length: 2823, dtype: object
1       2003
2       2003
3       2003
4       2003
5       2003
        ...
2819    2004
2820    2005
2821    2005
2822    2005
2823    2005
Name: 9, Length: 2823, dtype: object
1       95
2       95
3       95
4       95
5       95
        ..
2819    54
2820    54
2821    54
2822    54
2823    54
Name: 11, Length: 2823, dtype: object
1             2125557818
2             26.47.1555
3       +33 1 46 62 7555
4             6265557265
5             6505551386
              ...
2819      (91) 555 94 44
2820          981-443655
2821      (91) 555 94 44
2822          61.77.6555
2823          6175559555
Name: 14, Length: 2823, dtype: object
1       10022
2       51100
3       75508
4       90003
5         nan
        ...
2819    28034
2820    90110
2821    28034
2822    31000
2823    51003
Name: 19, Length: 2823, dtype: object

In [8]:
sheet_to_df_map.get('Worksheet')[1]

{'IsVerticalOrientation,': True,
 'Index rows': [[0,
   1,
   2,
   3,
   4,
   5,
   6,
   7,
   8,
   9,
   10,
   11,
   12,
   13,
   14,
   15,
   16,
   17,
   18,
   19,
   20,
   21,
   22,
   23,
   24,
   25,
   26,
   27,
   28,
   29,
   30,
   31,
   32,
   33,
   34,
   35,
   36,
   37,
   38,
   39,
   40,
   41,
   42,
   43,
   44,
   45,
   46,
   47,
   48,
   49,
   50,
   51,
   52,
   53,
   54,
   55,
   56,
   57,
   58,
   59,
   60,
   61,
   62,
   63,
   64,
   65,
   66,
   67,
   68,
   69,
   70,
   71,
   72,
   73,
   74,
   75,
   76,
   77,
   78,
   79,
   80,
   81,
   82,
   83,
   84,
   85,
   86,
   87,
   88,
   89,
   90,
   91,
   92,
   93,
   94,
   95,
   96,
   97,
   98,
   99,
   100,
   101,
   102,
   103,
   104,
   105,
   106,
   107,
   108,
   109,
   110,
   111,
   112,
   113,
   114,
   115,
   116,
   117,
   118,
   119,
   120,
   121,
   122,
   123,
   124,
   125,
   126,
   127,
   128,
   129,
   130,
   131,
   132,
   133,
   134,
   135,
   136,
   137,
   138,
   139,
   140,
   141,
   142,
   143,
   144,
   145,
   146,
   147,
   148,
   149,
   150,
   151,
   152,
   153,
   154,
   155,
   156,
   157,
   158,
   159,
   160,
   161,
   162,
   163,
   164,
   165,
   166,
   167,
   168,
   169,
   170,
   171,
   172,
   173,
   174,
   175,
   176,
   177,
   178,
   179,
   180,
   181,
   182,
   183,
   184,
   185,
   186,
   187,
   188,
   189,
   190,
   191,
   192,
   193,
   194,
   195,
   196,
   197,
   198,
   199,
   200,
   201,
   202,
   203,
   204,
   205,
   206,
   207,
   208,
   209,
   210,
   211,
   212,
   213,
   214,
   215,
   216,
   217,
   218,
   219,
   220,
   221,
   222,
   223,
   224,
   225,
   226,
   227,
   228,
   229,
   230,
   231,
   232,
   233,
   234,
   235,
   236,
   237,
   238,
   239,
   240,
   241,
   242,
   243,
   244,
   245,
   246,
   247,
   248,
   249,
   250,
   251,
   252,
   253,
   254,
   255,
   256,
   257,
   258,
   259,
   260,
   261,
   262,
   263,
   264,
   265,
   266,
   267,
   268,
   269,
   270,
   271,
   272,
   273,
   274,
   275,
   276,
   277,
   278,
   279,
   280,
   281,
   282,
   283,
   284,
   285,
   286,
   287,
   288,
   289,
   290,
   291,
   292,
   293,
   294,
   295,
   296,
   297,
   298,
   299,
   300,
   301,
   302,
   303,
   304,
   305,
   306,
   307,
   308,
   309,
   310,
   311,
   312,
   313,
   314,
   315,
   316,
   317,
   318,
   319,
   320,
   321,
   322,
   323,
   324,
   325,
   326,
   327,
   328,
   329,
   330,
   331,
   332,
   333,
   334,
   335,
   336,
   337,
   338,
   339,
   340,
   341,
   342,
   343,
   344,
   345,
   346,
   347,
   348,
   349,
   350,
   351,
   352,
   353,
   354,
   355,
   356,
   357,
   358,
   359,
   360,
   361,
   362,
   363,
   364,
   365,
   366,
   367,
   368,
   369,
   370,
   371,
   372,
   373,
   374,
   375,
   376,
   377,
   378,
   379,
   380,
   381,
   382,
   383,
   384,
   385,
   386,
   387,
   388,
   389,
   390,
   391,
   392,
   393,
   394,
   395,
   396,
   397,
   398,
   399,
   400,
   401,
   402,
   403,
   404,
   405,
   406,
   407,
   408,
   409,
   410,
   411,
   412,
   413,
   414,
   415,
   416,
   417,
   418,
   419,
   420,
   421,
   422,
   423,
   424,
   425,
   426,
   427,
   428,
   429,
   430,
   431,
   432,
   433,
   434,
   435,
   436,
   437,
   438,
   439,
   440,
   441,
   442,
   443,
   444,
   445,
   446,
   447,
   448,
   449,
   450,
   451,
   452,
   453,
   454,
   455,
   456,
   457,
   458,
   459,
   460,
   461,
   462,
   463,
   464,
   465,
   466,
   467,
   468,
   469,
   470,
   471,
   472,
   473,
   474,
   475,
   476,
   477,
   478,
   479,
   480,
   481,
   482,
   483,
   484,
   485,
   486,
   487,
   488,
   489,
   490,
   491,
   492,
   493,
   494,
   495,
   496,
   497,
   498,
   499,
   500,
   501,
   502,
   503,
   504,
   505,
   506,
   507,
   508,
   509,
   510,
   511,
   512,
   513,
   514,
   515,
   516,
   517,
   518,
   519,
   520,
   521,
   522,
   523,
   524,
   525,
   526,
   527,
   528,
   529,
   530,
   531,
   532,
   533,
   534,
   535,
   536,
   537,
   538,
   539,
   540,
   541,
   542,
   543,
   544,
   545,
   546,
   547,
   548,
   549,
   550,
   551,
   552,
   553,
   554,
   555,
   556,
   557,
   558,
   559,
   560,
   561,
   562,
   563,
   564,
   565,
   566,
   567,
   568,
   569,
   570,
   571,
   572,
   573,
   574,
   575,
   576,
   577,
   578,
   579,
   580,
   581,
   582,
   583,
   584,
   585,
   586,
   587,
   588,
   589,
   590,
   591,
   592,
   593,
   594,
   595,
   596,
   597,
   598,
   599,
   600,
   601,
   602,
   603,
   604,
   605,
   606,
   607,
   608,
   609,
   610,
   611,
   612,
   613,
   614,
   615,
   616,
   617,
   618,
   619,
   620,
   621,
   622,
   623,
   624,
   625,
   626,
   627,
   628,
   629,
   630,
   631,
   632,
   633,
   634,
   635,
   636,
   637,
   638,
   639,
   640,
   641,
   642,
   643,
   644,
   645,
   646,
   647,
   648,
   649,
   650,
   651,
   652,
   653,
   654,
   655,
   656,
   657,
   658,
   659,
   660,
   661,
   662,
   663,
   664,
   665,
   666,
   667,
   668,
   669,
   670,
   671,
   672,
   673,
   674,
   675,
   676,
   677,
   678,
   679,
   680,
   681,
   682,
   683,
   684,
   685,
   686,
   687,
   688,
   689,
   690,
   691,
   692,
   693,
   694,
   695,
   696,
   697,
   698,
   699,
   700,
   701,
   702,
   703,
   704,
   705,
   706,
   707,
   708,
   709,
   710,
   711,
   712,
   713,
   714,
   715,
   716,
   717,
   718,
   719,
   720,
   721,
   722,
   723,
   724,
   725,
   726,
   727,
   728,
   729,
   730,
   731,
   732,
   733,
   734,
   735,
   736,
   737,
   738,
   739,
   740,
   741,
   742,
   743,
   744,
   745,
   746,
   747,
   748,
   749,
   750,
   751,
   752,
   753,
   754,
   755,
   756,
   757,
   758,
   759,
   760,
   761,
   762,
   763,
   764,
   765,
   766,
   767,
   768,
   769,
   770,
   771,
   772,
   773,
   774,
   775,
   776,
   777,
   778,
   779,
   780,
   781,
   782,
   783,
   784,
   785,
   786,
   787,
   788,
   789,
   790,
   791,
   792,
   793,
   794,
   795,
   796,
   797,
   798,
   799,
   800,
   801,
   802,
   803,
   804,
   805,
   806,
   807,
   808,
   809,
   810,
   811,
   812,
   813,
   814,
   815,
   816,
   817,
   818,
   819,
   820,
   821,
   822,
   823,
   824,
   825,
   826,
   827,
   828,
   829,
   830,
   831,
   832,
   833,
   834,
   835,
   836,
   837,
   838,
   839,
   840,
   841,
   842,
   843,
   844,
   845,
   846,
   847,
   848,
   849,
   850,
   851,
   852,
   853,
   854,
   855,
   856,
   857,
   858,
   859,
   860,
   861,
   862,
   863,
   864,
   865,
   866,
   867,
   868,
   869,
   870,
   871,
   872,
   873,
   874,
   875,
   876,
   877,
   878,
   879,
   880,
   881,
   882,
   883,
   884,
   885,
   886,
   887,
   888,
   889,
   890,
   891,
   892,
   893,
   894,
   895,
   896,
   897,
   898,
   899,
   900,
   901,
   902,
   903,
   904,
   905,
   906,
   907,
   908,
   909,
   910,
   911,
   912,
   913,
   914,
   915,
   916,
   917,
   918,
   919,
   920,
   921,
   922,
   923,
   924,
   925,
   926,
   927,
   928,
   929,
   930,
   931,
   932,
   933,
   934,
   935,
   936,
   937,
   938,
   939,
   940,
   941,
   942,
   943,
   944,
   945,
   946,
   947,
   948,
   949,
   950,
   951,
   952,
   953,
   954,
   955,
   956,
   957,
   958,
   959,
   960,
   961,
   962,
   963,
   964,
   965,
   966,
   967,
   968,
   969,
   970,
   971,
   972,
   973,
   974,
   975,
   976,
   977,
   978,
   979,
   980,
   981,
   982,
   983,
   984,
   985,
   986,
   987,
   988,
   989,
   990,
   991,
   992,
   993,
   994,
   995,
   996,
   997,
   998,
   999,
   ...]],
 'columns types': {0: 'int',
  1: 'int',
  2: 'float',
  3: 'int',
  4: 'float',
  5: 'date',
  6: 'str',
  7: 'int',
  8: 'int',
  9: 'int',
  10: 'str',
  11: 'int',
  12: 'str',
  13: 'str',
  14: 'int',
  15: 'str',
  16: 'str',
  17: 'str',
  18: 'str',
  19: 'int',
  20: 'str',
  21: 'str',
  22: 'str',
  23: 'str',
  24: 'str'},
 'mistake fix': []}

In [ ]:
# dict_keys(['Стадо 1 ', 'Стадо 2  ', 'Стадо 3 ', 'Стадо 4 ', 'Стадо 5 ', 'Стадо 6', 'Стадо 7', 'Стадо 8', 'Стадо 9', 'Стадо 10 ', 'Стадо 11', 'Стадо 12', 'Стадо 13'])

In [230]:
df = pd.read_excel("file44.xlsx",header=None)
df.iloc[5,19]

nan

In [336]:
# s = pd.Series(['a',234.0,32.9,'ayan',1,4,14,'12.4','34.2','21','a'])

# pd.to_numeric(s,errors='coerce').convert_dtypes()

In [337]:
# s[s.astype(str).str.contains('a')].index.to_list()

In [367]:
def find_errorss(s,j):
    mistake = {'o': '0','l': '1','b': '6','g': '9','q': '9','t': '7','v': '5','f': '7','z': '2','e': '3','a': '4','s': '5'}
    finded_error = []
    for key, val in mistake.items():
        if len(s[s.astype(str).str.contains(key).dropna()].index.to_list()) != 0:
            for i in range(len(s[s.astype(str).str.contains(key)].index.to_list())):
                finded_error.append({   'row':s[s.astype(str).str.contains(key)].index.to_list()[i],
                                        'column':j,
                                        'new value':val,
                                        'old value':key,
                                        'probability':99.9,
                                        'user approve':False,
                                        'comment':False
                                    })
#             finded_error.append([key,val,j,s[s.astype(str).str.contains(key)].index.to_list()])
        s = s.astype(str).str.strip().str.replace(key, val, regex=True)
    return [s,finded_error]

def change_valuee(df,columns_types):
    # list_right_data = []
#     df = pd.read_excel("file44.xlsx",header=None)
    mistake_index_list = []
    for j in range(df.shape[1]):
        if columns_types[j] == 'int' or columns_types[j] == 'float':
            buff = find_errorss(df.iloc[:,j],j)
            df.iloc[:,j] = pd.to_numeric(buff[0],errors='coerce').convert_dtypes().copy()
    #     list_right_data.append(pd.to_numeric(buff[0],errors='coerce').convert_dtypes())
            mistake_index_list.append(buff[1])
    return [df,np.concatenate(np.array(mistake_index_list), axis=None).tolist()]

In [369]:
df = pd.read_excel("file44.xlsx",header=None)
columns_types = {0: 'int', 1: 'int', 2: 'float', 3: 'int', 4: 'float', 5: 'date', 6: 'str', 7: 'int', 8: 'int', 9: 'int', 10: 'str', 11: 'int', 12: 'str', 13: 'str', 14: 'int', 15: 'str', 16: 'str', 17: 'str', 18: 'str', 19: 'int', 20: 'str', 21: 'str', 22: 'str', 23: 'str', 24: 'str'}
df_mistake = change_valuee(df.iloc[1:,:],columns_types)
df_mistake[1]

76

[{'row': 7,
  'column': 0,
  'new value': '1',
  'old value': 'l',
  'probability': 99.9,
  'user approve': False,
  'comment': False},
 {'row': 9,
  'column': 0,
  'new value': '1',
  'old value': 'l',
  'probability': 99.9,
  'user approve': False,
  'comment': False},
 {'row': 10,
  'column': 0,
  'new value': '9',
  'old value': 'q',
  'probability': 99.9,
  'user approve': False,
  'comment': False},
 {'row': 8,
  'column': 0,
  'new value': '0',
  'old value': 'D',
  'probability': 99.9,
  'user approve': False,
  'comment': False},
 {'row': 3,
  'column': 0,
  'new value': '3',
  'old value': 'E',
  'probability': 99.9,
  'user approve': False,
  'comment': False},
 {'row': 0,
  'column': 0,
  'new value': '4',
  'old value': 'A',
  'probability': 99.9,
  'user approve': False,
  'comment': False},
 {'row': 11,
  'column': 0,
  'new value': '5',
  'old value': 'S',
  'probability': 99.9,
  'user approve': False,
  'comment': False},
 {'row': 0,
  'column': 1,
  'new value': '0',
  'old value': 'o',
  'probability': 99.9,
  'user approve': False,
  'comment': False},
 {'row': 3,
  'column': 1,
  'new value': '6',
  'old value': 'b',
  'probability': 99.9,
  'user approve': False,
  'comment': False},
 {'row': 8,
  'column': 1,
  'new value': '9',
  'old value': 'g',
  'probability': 99.9,
  'user approve': False,
  'comment': False},
 {'row': 10,
  'column': 1,
  'new value': '7',
  'old value': 't',
  'probability': 99.9,
  'user approve': False,
  'comment': False},
 {'row': 7,
  'column': 1,
  'new value': '5',
  'old value': 'v',
  'probability': 99.9,
  'user approve': False,
  'comment': False},
 {'row': 9,
  'column': 1,
  'new value': '7',
  'old value': 'F',
  'probability': 99.9,
  'user approve': False,
  'comment': False},
 {'row': 0,
  'column': 1,
  'new value': '.',
  'old value': ',',
  'probability': 99.9,
  'user approve': False,
  'comment': False}]

In [264]:
for key, val in mistake_index_list.items():
    for i in range(len(val)):
        print(val[i])

['l', '1', 0, [7, 9]]
['q', '9', 0, [10]]
['D', '0', 0, [8]]
['E', '3', 0, [3]]
['A', '4', 0, [0]]
['S', '5', 0, [11]]
['o', '0', 1, [0]]
['b', '6', 1, [3]]
['g', '9', 1, [8]]
['t', '7', 1, [10]]
['v', '5', 1, [7]]
['F', '7', 1, [9]]
[',', '.', 1, [0]]

[{'l': [7, 9], 'q': [10], 'D': [8], 'E': [3], 'A': [0], 'S': [11]},
 {'o': [0], 'b': [3], 'g': [8], 't': [10], 'v': [7], 'F': [9]}]

In [119]:
#         print([type(each) for each in df.iloc[:,4]])
# <class 'datetime.datetime'>

In [577]:
df.iloc[:,5].apply(type).value_counts()

<class 'str'>    2824
Name: 5, dtype: int64

In [118]:
 mistake = {'o': '0','l': '1','b': '6','g': '9','q': '9','t': '7','v': '5','G': '6','F': '7','Z': '2','Q': '2','B': '8','O': '0','D': '0','E': '3','A': '4','S': '5'}

In [121]:
mistake.get('l')

'1'

In [184]:
el = [3,4]
for i in range(len(el)):
    if el[i] == 3 or 4:
        print("hh")

hh
hh