In [1]:
import tempfile, zipfile
import os
import pandas as pd
import numpy as np

In [2]:
def fix_xlsx(in_file):
    tmpfd, tmp = tempfile.mkstemp(dir=os.path.dirname(in_file))
    os.close(tmpfd)
    filename = '[Content_Types].xml'
    data = ''
    with zipfile.ZipFile(in_file, 'r') as zin:
        with zipfile.ZipFile(tmp, 'w') as zout:
            for item in zin.infolist():
                if item.filename != filename:
                    zout.writestr(item, zin.read(item.filename))
                else:
                    data = zin.read(filename).decode()
    os.remove(in_file)
    os.rename(tmp, in_file)
    data = data.replace('/xl/sharedStrings.xml', '/xl/SharedStrings.xml')
    with zipfile.ZipFile(in_file, mode='a', compression=zipfile.ZIP_DEFLATED) as zf:
        zf.writestr(filename, data)

In [3]:
fix_xlsx('file1.xlsx')

In [4]:
df = pd.read_excel('file1.xlsx')
df.head(11)

,,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 917,Unnamed: 918,Unnamed: 919,Unnamed: 920,Unnamed: 921,Unnamed: 922,Unnamed: 923,Unnamed: 924,Unnamed: 925,Unnamed: 926
0,"ПАО ""Птицефабрика ""Боровская""",NaN,NaN,Показатели продуктивного периода 1 Марта 201...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Цех №2,NaN,Птичник: Пт № 16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Показатели,NaN,ЕдИзм,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Дата на начало периода,NaN,NaN,01.03.2016,02.03.2016,03.03.2016,04.03.2016,05.03.2016,06.03.2016,07.03.2016,...,05.12.2018,06.12.2018,07.12.2018,08.12.2018,09.12.2018,10.12.2018,11.12.2018,12.12.2018,13.12.2018,14.12.2018
5,Наличие кур-несушек\nна начало периода,NaN,гол.,24490,24486,24474,24470,24469,24469,24462,...,30036,30032,30026,30009,30009,29999,29995,18092,7119,
6,Пало,норм,гол.,98,98,98,122,122,122,122,...,150,150,150,150,150,150,150,90,107,
7,NaN,факт,гол.,10,4,12,4,1,,7,...,5,4,6,17,,10,4,5,7,19
8,NaN,норм,%,0.40,0.40,0.40,0.50,0.50,0.50,0.50,...,0.50,0.50,0.50,0.50,0.50,0.50,0.50,0.50,1.50,1.50
9,NaN,факт,%,0.04,0.02,0.05,0.02,,,0.03,...,0.02,0.01,0.02,0.06,,0.03,0.01,0.03,0.10,
10,Расход корма,NaN,ц,2900.00,2860.00,2900.00,2860.00,2880.00,2000.00,2900.00,...,3500.00,3600.00,3520.00,,,,,,,

In [7]:
date_row_num,date_col_num = 0,0

for i in range(df.shape[0]):
    if df.iloc[i,0] == 'Дата на начало периода': 
        date_row_num = i
        print(date_row_num)
        break;
for j in range(1,df.shape[1]):
    if type(df.iloc[date_row_num,j])== type('string'):
        date_col_num = j
        print(date_col_num)
        break;

4
3

In [8]:
df.iloc[date_row_num,date_col_num:].reset_index(drop=True)

0      01.03.2016
1      02.03.2016
2      03.03.2016
3      04.03.2016
4      05.03.2016
          ...
919    10.12.2018
920    11.12.2018
921    12.12.2018
922    13.12.2018
923    14.12.2018
Name: 4, Length: 924, dtype: object

In [ ]:
data = data.iloc[date_row_num:,date_col_num:].reset_index(drop=True)
data

In [ ]:
wine_revies = pd.read_csv('wine.csv')

wine_revies.head()

In [ ]:
wine_revies.loc[wine_revies.iloc[:,1] == 'Italy']

In [ ]:
wine_revies.iloc[:,3]