In [1]:
import TableParser
import TestTableParser
import pandas as pd

In [2]:
testTableParser =  TestTableParser.TestTableParser()

In [3]:
tableParser = TableParser.TableParser(testTableParser)

In [4]:
series = pd.Series(["09 01!2021", "07-Jun-2O21", "20150708", "O7 Aug 2O21","O7/02/2O21",'O7@02@2O21','O7]02[2O21','O7~02|2O21','   31 01 2002'])
series

0       09 01!2021
1      07-Jun-2O21
2         20150708
3      O7 Aug 2O21
4       O7/02/2O21
5       O7@02@2O21
6       O7]02[2O21
7       O7~02|2O21
8       31 01 2002
dtype: object

In [5]:
tableParser.parse(series)

[0   2021-09-01
 1   2021-07-06
 2   2015-07-08
 3   2021-07-08
 4   2021-07-02
 5   2021-07-02
 6   2021-07-02
 7   2021-07-02
 8   2002-01-31
 dtype: datetime64[ns],
 []]

In [6]:
testTableParser.fix_xlsx('file2.xlsx')
df = pd.read_excel('file2.xlsx')
testTableParser.all_action(df)

,2016-01-03,2016-02-03,2016-03-03,2016-04-03,2016-05-03,2016-06-03,2016-07-03,2016-08-03,2016-09-03,2016-10-03,...,2018-10-12,2018-11-12,2018-12-12,2018-12-13,2018-12-14,2018-12-15,2018-12-16,2018-12-17,2018-12-18,2018-12-19
1,25936,25932,25932,25924,25917,25917,25908,25908,25899,25895,...,30418,30417,30412,30406,30406,30396,30396,18229,6266,
2,104,104,104,104,104,104,104,104,129,129,...,152,152,152,152,152,152,456,273,94,
3,5,4,,8,7,,9,,9,4,...,12,1,5,6,,10,,7,23,36
4,0.40,0.40,0.40,0.40,0.40,0.40,0.40,0.40,0.50,0.50,...,0.50,0.50,0.50,0.50,0.50,0.50,1.50,1.50,1.50,1.50
5,0.02,0.02,,0.03,0.03,,0.03,,0.03,0.02,...,0.04,,0.02,0.02,,0.03,,0.04,0.37,
6,3020.00,3000.00,3040.00,3000.00,3020.00,2000.00,2000.00,3080.00,3040.00,3100.00,...,3560.00,3600.00,3600.00,5140.00,,,,,,
7,25936,25932,25932,25924,25917,25917,25908,25908,25899,25895,...,30418,30417,30412,30406,30406,30396,30396,18229,6266,
8,117.0,117.0,117.0,117.0,117.0,117.0,117.0,117.0,117.0,117.0,...,117.0,117.0,117.0,117.0,117.0,117.0,117.0,117.0,117.0,117.0
9,11644.0,11568.7,11723.0,11572.3,11652.6,7716.9,7719.6,11888.2,11737.9,11971.4,...,11703.6,11835.5,11837.4,16904.6,,,,,,
10,,,,,,,,,,,...,,,,,,,,,,
11,17120.2,17730.5,18357.5,18518.5,18642.0,12345.7,12210.0,18399.0,18160.1,17396.2,...,17502.5,17543.9,17699.1,25496.0,,,,,,
12,,,,,,,,,,,...,,,,,,,,,,
13,262.2,271.5,281.1,283.6,285.5,189.1,187.0,281.8,278.1,266.4,...,,,,,,,,,,
14,17640,16920,16560,16200,16200,16200,16380,16740,16740,17820,...,20340,20520,20340,20160,19620,19800,19620,17640,6300,1980
15,1151.9,1104.9,1081.4,1057.9,1057.9,1057.9,1069.6,1093.1,1093.1,1163.6,...,,,,,,,,,,
16,926,926,926,926,926,926,925,925,925,925,...,1086,1086,1086,1086,1086,1086,1086,651,224,
17,20.20,20.20,20.20,20.20,20.20,20.20,20.20,20.20,18.10,18.10,...,18.10,18.10,18.10,18.10,18.10,18.10,17.00,17.00,17.00,17.00
18,0.68,0.65,0.64,0.62,0.62,0.62,0.63,0.65,0.65,0.69,...,0.78,0.79,0.78,0.78,0.76,0.76,0.76,0.68,0.24,0.08
19,21.00,21.00,21.00,21.00,21.00,21.00,21.00,21.00,19.00,19.00,...,19.00,19.00,19.00,19.00,19.00,19.00,18.00,18.00,18.00,18.00
20,19.04,18.27,17.88,17.50,17.50,17.50,17.70,18.09,18.10,19.27,...,18.72,18.89,18.73,18.56,18.07,18.24,18.07,27.10,28.15,
21,75.00,75.00,75.00,75.00,75.00,75.00,75.00,75.00,67.86,67.86,...,67.86,67.86,67.86,67.86,67.86,67.86,64.29,64.29,64.29,64.29
22,68.01,65.25,63.86,62.49,62.51,62.51,63.22,64.61,64.64,68.82,...,66.87,67.46,66.88,66.30,64.53,65.14,64.55,96.77,100.54,
23,2.014,2.014,2.014,2.014,2.014,2.014,2.014,2.014,2.014,2.014,...,1.947,1.947,1.947,1.947,1.947,1.947,1.947,1.947,1.947,1.947
24,75.00,75.00,75.00,75.00,75.00,75.00,75.00,75.00,75.00,75.00,...,71.00,71.00,71.00,71.00,71.00,71.00,71.00,71.00,71.00,71.00
25,65.3,65.3,65.3,65.3,65.3,65.3,65.3,65.3,65.3,65.3,...,,,,,,,,,,